<!-- User profile -->

{% extends "_layout.html" %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div id="text1">
                    <label>Text 1</label>
                </div>
                <div id="text2">
                    <label>Text 2</label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div id="navigation">
                    <label>Navigation</label>
                </div>
                
            </div>
        </div>
</div>
{% endblock %}