<!-- User profile -->

{% extends "_layout.html" %}
{% block content %}
<style>
    .test{
        height: 50vh

    }


</style>

<!-- Profile Photo -->
<div class="bg-white pt-4">

    <div class="ml-4 container-fluid">
        <div class="row">
            <div class="col-4">
                <h4>{{user.username}}</h2>
                    {%if user_authenticated and current_user.username != user.username and toggle_unfollow==False %}
                    <form action="{{url_for('users.follow_user')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        <button type="submit" class="btn btn-primary">Follow</button>
                        <input type="hidden" name="follower_username" value="{{current_user.username}}" />
                        <input type="hidden" name="idol_username" value="{{user.username}}" />
                    </form>
                    {%elif user_authenticated and current_user.username != user.username and toggle_unfollow==True%}
                    <form action="{{url_for('users.unfollow_user')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        {%if toggle_request_btn==True%}
                            <button type="submit" class="btn btn-primary">Request Pending</button>
                        {%elif toggle_request_btn==False%}
                            <button type="submit" class="btn btn-primary">Unfollow</button>
                        {%endif%}
                        <input type="hidden" name="follower_username" value="{{current_user.username}}" />
                        <input type="hidden" name="idol_username" value="{{user.username}}" />
                        <input type="hidden" name="request_type" value="unfollow_user" />
                    </form>
                    {%endif%}
                <div>
                    <img class="ml-3 img-fluid img-thumbnail rounded-circle" style="width: 200px; height:200px"    src="{{user.profile_photo_url}}" />
                </div>

            </div>
                <!-- Conditonal: if user is authenticated and url is that username,allow submit button -->
            <div class="col-8">
  
                <div class="row" style="height:50%">
                    {%if current_user.is_authenticated and current_user.username ==user.username%}
                    <div>
                        <form action="{{url_for('images.update_image_library',username=current_user.username, id=current_user.id)}}"
                        method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        <input type="file" name="image_gallery">
                        <button type="submit" class="btn btn-primary">Post Photo</button>
                    </form>
                    </div>
                    {%endif%}
                </div>
                <div class="row">
                    <div class="col">
                            <a href="#" data-toggle="modal" data-target="#followerModal">Followers: {{followers}}</a>
                    </div>
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#followingModal">Following: {{following}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery of Images -->
    <div class="mt-4 container-fluid ml-4">
        {%if toggle_view==False %}
        <div>Private profile</div>
        {%elif toggle_view==True%}
        <div class="row">
            <!-- Display photos -->
            {%for image in user.images%}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <form action="{{url_for('donations.new',image_id=image.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"  />
                    <a href="{{image.gallery_photo_url}}" data-toggle="lightbox">    
                        <img class="img-fluid img-thumbnail"  style="widows: 300px; height:300px" src="{{image.gallery_photo_url}}" />
                    </a>  
                    <button type="submit" class="btn btn-primary">Donate</button>
                    <!-- Hidden input to capture userid -->
                    <input type="hidden" name="donor" value={{current_user.id}}>
                    <input type="hidden" name="receiver" value={{user.id}}>
                </form>
            </div>
            {%endfor%}
        </div>
        {%endif%}
    </div>
<!-- Modal: Following -->
    <div class="modal fade" id ="followingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        You are following:
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ol class="list-unstyled">
                        {%for following in list_following%}
                        <li>
                            <img class="img-fluid img-thumbnail"  style="width: 30px; height:30px" src="{{following.profile_photo_url}}" alt="">
                            <a href="/users/{{following.username}}">{{following.username}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- Modal: Followers -->
<div class="modal fade" id ="followerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        Your followers are:
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {%for follower in list_follower%}
                        <img class="img-fluid img-thumbnail"  style="width: 30px; height:30px" src="{{follower.profile_photo_url}}" alt="">
                        <a href="/users/{{follower.username}}">{{follower.username}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>


<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
{%endblock%}
