<!-- User profile -->

{% extends "_layout.html" %}
{% block content %}
<style>
    .test{
        height: 50vh

    }


</style>
<!-- Can get current_user.username and user.username -->

<!-- Profile Photo -->
<div class="bg-white pt-4">

    <div class="ml-4 container-fluid">
        <div class="row">
            <div class="col-4">
                <h4>{{user.username}}</h2>
                    {%if current_user.is_authenticated and current_user.username != user.username and toggle_unfollow==False %}
                    <form action="{{url_for('users.follow_user')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        <button type="submit" class="btn btn-primary">Follow</button>
                        <input type="hidden" name="follower_username" value="{{current_user.username}}" />
                        <input type="hidden" name="idol_username" value="{{user.username}}" />
                    </form>
                    {%elif current_user.is_authenticated and current_user.username != user.username and toggle_unfollow==True%}
                    <form action="{{url_for('users.unfollow_user')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        <button type="submit" class="btn btn-primary">Unfollow</button>
                        <input type="hidden" name="follower_username" value="{{current_user.username}}" />
                        <input type="hidden" name="idol_username" value="{{user.username}}" />
                    </form>
                    {%endif%}
                <div>
                    <img class="ml-3 img-fluid img-thumbnail rounded-circle" style="width: 300px; height:300px"    src="{{user.profile_photo_url}}" />
                </div>

            </div>
                <!-- Conditonal: if user is authenticated and url is that username,allow submit button -->
            <div class="col-8">
  
                <div class="row" style="height:50%">
                    {%if current_user.is_authenticated and current_user.username ==user.username%}
                    <div>
                        <form action="{{url_for('images.update_image_library',username=current_user.username, id=current_user.id)}}"
                        method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                        <input type="file" name="image_gallery">
                        <button type="submit" class="btn btn-primary">Post Photo</button>
                    </form>
                    </div>
                    {%endif%}
                </div>
                <div class="row">
                    <div class="col">
                        <p>Followers: {{followers}}</p>
                    </div>
                    <div class="col">
                        <p>Following: {{following}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery of Images -->
    <div class="mt-4 container-fluid ml-4">
        <!-- Condition: if private setting is true, do not display -->
        {%if user.private==True %}
        <div>Private profile</div>
        {%else%}
        <div class="row">
            <!-- Display photos -->
            {%for image in user.images%}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                <form action="{{url_for('donations.new',image_id=image.id)}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"  />
                    <a href="{{image.gallery_photo_url}}" data-toggle="lightbox">    
                        <img class="img-fluid img-thumbnail"  style="widows: 300px;; height:300px" src="{{image.gallery_photo_url}}" />
                    </a>  
                    <button type="submit" class="btn btn-primary">Donate</button>
                    <!-- Hidden input to capture userid -->
                    <input type="hidden" name="donor" value={{current_user.id}}>
                    <input type="hidden" name="receiver" value={{user.id}}>
                </form>
            </div>
            {%endfor%}
        </div>
        {%endif%}
    </div>
    
</div>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
{%endblock%}
