{% extends "_layout.html" %}
{% block content %}

<div id="sign_up" class="container-fluid">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-3 bg-light p-4">
            
                <h5 class="ml-3 pl-2 text-center">New User</h5>
                <!-- Form: username -->
                <form class="pl-2 pr-2" action="{{url_for('users.create')}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                    
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input name="username" class="form-control mb-2"/>
                        
                        <label for="email">Email:</label>
                        <input name="email" class="form-control mb-2"/>
                        
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control mb-2"/>
                        <small id="passwordHelpInline" class="text-muted">
                            Must be 8-15 characters long.
                        </small>
                        <button class="btn btn-primary btn-block mb-4" type="submit">Add User</button>
                    </div>
                </form>
            
        </div>
    </div>
</div>
    {% endblock %}